html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.dockview-theme-light,
adv-dockview-container {
  display: block;
  height: 100vh; /* or 100% if parent chain is 100% */
  min-height: 400px; /* for safety during dev */
  width: 100vw;
}

app-root {
  display: block;
  height: 100%;
}

.viewer,
adv-dockview-container,
dv-grid-view,
dv-dockview,
.dockview-theme-vs-dark {
  width: 100%;
  height: 100%;
  display: block;
}

app-plotly-chart,
app-date-sales-panel,
app-company-sales-panel,
app-product-sales-panel {
  display: block;
  width: 100%;
}

.dv-content-container {
  display: flex !important;
  flex-direction: column;
}

.dv-content-container > * {
  flex: 1 1 auto !important;
  overflow: hidden;
}

app-plotly-chart,
app-date-sales-panel,
app-company-sales-panel,
app-product-sales-panel {
  display: block;
  width: 100%;
  height: 100%;
  margin: 5px;
}
